comman css

.banner-box .section-header {
    padding-bottom: 338px !important;
}

@media only screen and (max-width: 600px) {
  .banner-box .section-header {
    padding-bottom: 73px !important;
  }
}

@media only screen and (max-width: 768px) {
  .banner-box .section-header {
    padding-bottom: 155px !important;
  }
}

@media only screen and (max-width: 912px) {
  .banner-box .section-header {
    padding-bottom: 92px !important;
  }
}

.d-header {
  box-shadow: none !important;
}

.d-header-icons {
  font-size: 13px;
}

#main>div .below-site-header-outlet {
  margin-top: -13px;
}

.banner-box {
  margin-top: -30px !important;
}

@media only screen and (max-width: 912px) {
  .banner-box {
    margin-top: -1px !important;
  }
}

.banner-box .row .single-box {
    display: none;
}


